<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=118.89.156.120;database=jhtoken;user id=root;password=j4R71LmKjf#9h;" />
  </connectionStrings>
  <appSettings>
    <add key="ComponentAppID" value="wx6230602b18fb87dc" />
    <add key="ComponentAppSecret" value="22730a462211f6310fe4000a4f187492" />
    <add key="EncodingAESKey" value="Fuz0D8R15WOPEtvfXzU5XnC8GYrsOhLoX3UrHkufnAt" />
  </appSettings>
</configuration>